.feature-card {
    transition: 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .features,
    .steps,
    .clients {
        flex-direction: column;
    }

    .feature-card,
    .step,
    .client-card {
        width: 100%;
        margin-bottom: 20px;
    }
}
.animate {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 992px) {
  .container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  }

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .features,
  .steps,
  .clients {
    flex-direction: column;
    gap: 20px;
  }
}

